<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/errors', obj: @article %>
      <%= form_with(model: @article, class: "shadow p-3 mb-3 bg-info rounded rounded", local:true) do |f| %>
        <div class="form-group row">
          <%= f.label :title, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Title of article" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :description, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_area :description, rows: 10, class: "form-control shadow rounded", placeholder: "Description of article" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :url_link, class: "col-2 col-form-label text-info" %>
          <div class="col-6">
            <%= f.text_field :url_link, class: "form-control shadow rounded", placeholder: "Link" %>
          </div>
          <div class="col-4">
            <%= f.text_field :link_description, class: "form-control shadow rounded", placeholder: "Link Title" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :category, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.collection_select(:category_ids, Category.all.order('name asc'), :id, :name, {prompt: "Please Select a Category (can be empty"},
                                    {multiple: true, size: 4, class: "custom-select shadow rounded" }) %>
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <%= f.submit class: "btn btn-outline-light btn-lg"%>
        </div>
      <% end %>
    </div>
    <div class="mb-3">
      <%= link_to '[Cancel and Return to articles listing]', articles_path, class: "text-info" %>
    </div>
  </div>

</div>