<h2 class="text-center mt-4"><%= @article.title%></h2>

<div class="container">

  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header font-italic">
          By <%= @article.user.username if @article.user %>
          <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
          <% if @article.categories.any?  %>
            <div class="mt-2"><%= render @article.categories %></div>
          <% end %>
        </div>
        <div class="card-body">
          <div class="card-text text-left"><%= simple_format(@article.description) %></div>
            <% if  @article.url_link %>
              <div class="card-text text-left">
                <%= link_to @article.link_description,  @article.url_link, :target => "_blank", class: "text-info" %>
              </div>
            <% end %>
          <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
            <%= link_to "Edit", edit_article_path(@article), class: 'btn btn-outline-info'%>
            <%= link_to "Delete", article_path(@article), class: 'btn btn-outline-danger', method: :delete, data: {confirm: "Are you sure you want to delete this aeticle?"}%>
          <% end %>
        </div>
        <div class="card-footer text-muted">
          <small>Created <%= time_ago_in_words(@article.created_at) %> ago, edited <%= time_ago_in_words(@article.updated_at) %> ago</small>
        </div>
      </div>
    </div>
  </div>
</div>

\