<% if obj.errors.any?  %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h2>The following errors prevented the <%= obj.class.name.downcase %> from being saved.</h2>
    <ul>
      <% obj.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>