<h1 class="text-center mt-4">Categories</h1>

<div class="flickr_pagination">
  <%= will_paginate @categories, :container => false %>
</div>

  <div class="container">
    <% @categories.each do |category| %>
      <div class="row justify-content-md-center">
        <div class="col-4 mt-4">
          <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-body">
              <h5 class="card-title"><%= link_to category.name, category_path(category), class: 'text-success' %></h5>
              <p class="card-text"><%= pluralize(category.articles.count, "article") %></p>
            </div>
            <div class="card-footer text-muted">
              <small>Created <%= time_ago_in_words(category.created_at) %> ago, edited <%= time_ago_in_words(category.updated_at) %> ago</small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<div class="flickr_pagination mb-4">
  <%= will_paginate @categories, :container => false %>
</div>