<h1 class="text-center mt-4">Category: <%= @category.name %></h1>

<% if logged_in? && current_user.admin? %>
  `<div class="text-center mt-4" >
    <%= link_to "Edit category name", edit_category_path(@category), class: "btn btn-outline-info" %>
  </div>
<% end %>`

<h3 class="text-center mt-4">Categories</h3>
<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>
<%= render './articles/article' %>

<div class="flickr_pagination mb-4">
  <%= will_paginate @articles, :container => false %>
</div>